@font-face {
  font-family: SFProTextThin;
  src: url("SF-Pro-Text-Thin.otf");
}

@font-face {
  font-family: SFProTextRegular;
  src: url("SF-Pro-Text-Regular.otf");
}

@font-face {
  font-family: SFProTextMedium;
  src: url("SF-Pro-Text-Medium.otf");
}

@font-face {
  font-family: SFProTextSemibold;
  src: url("SF-Pro-Text-Semibold.otf");
}

@font-face {
  font-family: SFProTextBold;
  src: url("SF-Pro-Text-Bold.otf");
}

@font-face {
  font-family: SFProTextBlack;
  src: url("SF-Pro-Text-Black.otf");
}
