.input--text-area__wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input--text-area {
  max-width: 100%;
  min-height: 50px;
  max-height: 100dvh;
  width: 100%;
  outline: none;
  background-color: var(--white);
  color: var(--text-primary-color);
  font-size: 16px;
  font-family: SFProTextMedium;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  padding: 10px;

  transition: 0.15s ease-in-out;
}

.input--text-area:focus, .input--text-area:focus-visible {
  box-shadow: 0 0 0 2px var(--primary-accent-color);
}
