.avatar-text__wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 12px;
  border-radius: 8px;
}

.avatar-text__wrapper:hover {
  background-color: var(--primary-accent-light-color);

  & > .avatar-text > .avatar-text__description {
    color: var(--primary-accent-color);
  }
}

.avatar-text__wrapper.selected {
  background-color: var(--primary-accent-light-color);
  border-right: 3px solid var(--primary-accent-color);

  & > .avatar-text > .avatar-text__description {
    color: var(--primary-accent-color);
  }
}

.avatar-img {
  width: 48px;
  height: 48px;
  flex: none;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avatar-text__name {
  font-family: SFProTextSemibold;
  color: var(--text-primary-color);
  font-size: 16px;
}

.avatar-text__description {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;

  font-family: SFProTextRegular;
  color: var(--text-additional-color);
  font-size: 16px;
}
