.profile__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 80px 30px;
  overflow-y: auto;

  & > .profile-title {
    font-size: 28px;
    font-family: SFProTextBold;
  }

  & > .profile-avatar-text {
    display: flex;
    align-items: center;
    gap: 24px;

    & > .profile-avatar {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
  }
}

@media (width <= 540px) {
  .profile__wrapper {
    padding: 30px;
  }
}
