.home__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 60px 80px;
  overflow-y: auto;
}

.home-content__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  gap: 35px;
}

@media (width <= 921px) {
  .home__wrapper {
    padding: 30px 40px;
  }
}

@media (width <= 540px) {
  .home__wrapper {
    gap: 25px;
    padding: 30px 10px;
  }
}
