.home-nav > ul {
  display: flex;
  gap: 32px;
}

.home-nav > ul > li > a {
  color: color-mix(in srgb, var(--text-primary-color) 25%, transparent 0%);
  font-size: 28px;
  font-weight: bold;

  transition: color 0.15s ease-in-out;
}

.home-nav > ul > li > a:hover {
  color: color-mix(in srgb, var(--text-primary-color) 50%, transparent 0%);
}

.home-nav > ul > li > a.active {
  color: var(--text-primary-color);
  font-weight: 800;
}
