.posts__wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 500px;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
}

.post:not(:last-child):after {
  position: relative;
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  margin-top: 32px;
  background-color: #E0E0E0;
}

.post-image {
  width: 100%;
}

.post-description {
  font-size: 18px;
}

.post-functional {
  display: flex;
  gap: 16px;
  stroke: var(--text-primary-color);
}

.post-functional > * {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px;

  transition: scale 0.05s ease-in-out;
}

.post-functional > *:active {
  scale: 0.9;
}

.post-functional-like.active {
  color: var(--red);
}

.post-functional-like.active > svg {
  stroke: var(--red);
  fill: var(--red);
}

.post-functional-comment.active {
  color: var(--accent-color);
}

.post-functional-comment.active > svg {
  stroke: var(--accent-color);
  fill: var(--text-accent-color);
}
