.posts__wrapper {
  --gap: 32px;

  display: flex;
  flex-direction: column;
  gap: var(--gap);
  max-width: 500px;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
}

.post:not(:last-child) {
  padding-bottom: var(--gap);
  border-bottom: 1px solid var(--border-color);
}

.post-image {
  width: 100%;
}

.post-description {
  font-size: 18px;
}

.post-functional {
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  gap: 16px;
  stroke: var(--text-primary-color);
}

.post-functional > * {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border-radius: 1000px;

  transition:
    scale 0.05s ease-in-out,
    background-color 0.15s ease-in-out;
}

// !!!!!!!!!!!!!!!!!!!!!!!!
.post-functional-like:before,
.post-functional-like:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.post-functional-like:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size:
    10% 10%,
    20% 20%,
    15% 15%,
    20% 20%,
    18% 18%,
    10% 10%,
    15% 15%,
    10% 10%,
    18% 18%;
}
.post-functional-like:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size:
    15% 15%,
    20% 20%,
    18% 18%,
    20% 20%,
    15% 15%,
    10% 10%,
    20% 20%;
}

.post-functional-like.active::before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}

.post-functional-like.active:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}
@keyframes topBubbles {
  0% {
    background-position:
      5% 90%,
      10% 90%,
      10% 90%,
      15% 90%,
      25% 90%,
      25% 90%,
      40% 90%,
      55% 90%,
      70% 90%;
  }
  50% {
    background-position:
      0% 80%,
      0% 20%,
      10% 40%,
      20% 0%,
      30% 30%,
      22% 50%,
      50% 50%,
      65% 20%,
      90% 30%;
  }
  100% {
    background-position:
      0% 70%,
      0% 10%,
      10% 30%,
      20% -10%,
      30% 20%,
      22% 40%,
      50% 40%,
      65% 10%,
      90% 20%;
    background-size:
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position:
      10% -10%,
      30% 10%,
      55% -10%,
      70% -10%,
      85% -10%,
      70% -10%,
      70% 0%;
  }
  50% {
    background-position:
      0% 80%,
      20% 80%,
      45% 60%,
      60% 100%,
      75% 70%,
      95% 60%,
      105% 0%;
  }
  100% {
    background-position:
      0% 90%,
      20% 90%,
      45% 70%,
      60% 110%,
      75% 80%,
      95% 70%,
      110% 10%;
    background-size:
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%;
  }
}
// !!!!!!!!!!!!!!!!!!!!!!!!

.post-functional > *:active {
  scale: 0.9;
}

.post-functional-like:hover {
  background-color: color-mix(in srgb, var(--error) 10%, transparent 0%);
}

.post-functional-like.active {
  color: var(--error);
}

.post-functional-like:focus,
.post-functional-comment:focus {
  outline: none;
}

.post-functional-like:focus {
  background-color: color-mix(in srgb, var(--error) 10%, transparent 0%);
}

.post-functional-comment:focus {
  background-color: var(--primary-accent-light-color);
}

.post-functional-like.active > svg {
  stroke: var(--error);
  fill: var(--error);
}

.post-functional-comment:hover {
  background-color: color-mix(
    in srgb,
    var(--primary-accent-color) 10%,
    transparent 0%
  );
}

.post-functional-comment.active {
  color: var(--primary-accent-color);
}

.post-functional-comment.active > svg {
  stroke: var(--primary-accent-color);
  fill: var(--primary-accent-light-color);
}

@media (width <= 921px) {
  .post-description {
    font-size: 16px;
  }
}

@media (width <= 540px) {
  .posts__wrapper {
    --gap: 16px;
  }

  .post-functional > * {
    font-size: 14px;
  }

  .post-description {
    font-size: 14px;
  }
}
