.posts__wrapper {
  --gap: 32px;

  display: flex;
  flex-direction: column;
  gap: var(--gap);
  max-width: 500px;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
}

.post:not(:last-child) {
  padding-bottom: var(--gap);
  border-bottom: 1px solid var(--border-color);
}

.post-image {
  width: 100%;
}

.post-description {
  font-size: 18px;
}

.post-functional {
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  gap: 16px;
  stroke: var(--text-primary-color);
}

.post-functional > * {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border-radius: 1000px;

  transition: scale 0.05s ease-in-out;
}

.post-functional > *:active {
  scale: 0.9;
}

.post-functional-like:hover {
  background-color: color-mix(in srgb, var(--error) 10%, transparent 0%);
}

.post-functional-like.active {
  color: var(--error);
}

.post-functional-like.active > svg {
  stroke: var(--error);
  fill: var(--error);
}

.post-functional-comment:hover {
  background-color: color-mix(
    in srgb,
    var(--primary-accent-color) 10%,
    transparent 0%
  );
}

.post-functional-comment.active {
  color: var(--primary-accent-color);
}

.post-functional-comment.active > svg {
  stroke: var(--primary-accent-color);
  fill: var(--primary-accent-light-color);
}

@media (width <= 921px) {
  .post-description {
    font-size: 16px;
  }
}

@media (width <= 540px) {
  .posts__wrapper {
    --gap: 16px;
  }

  .post-functional > * {
    font-size: 14px;
  }

  .post-description {
    font-size: 14px;
  }
}
