#root {
  display: flex;
  max-width: 1460px;
  padding: 0 16px;
  margin: 0 auto;
  overflow: hidden;
}

@media (width <= 540px) {
  #root {
    flex-direction: column-reverse;
    padding: 0;
    height: 100dvh;
  }
}
