:root {
  --primary-accent-color: var(--default-accent-color);
  --primary-accent-light-color: color-mix(
    in srgb,
    var(--primary-accent-color) 10%,
    transparent 100%
  );

  --text-primary-color: #18171c;
  --text-primary-light-color: color-mix(
    in srgb,
    var(--text-primary-color) 100%,
    white 0%
  );
  --text-additional-color: color-mix(
    in srgb,
    var(--text-primary-color) 40%,
    white 100%
  );

  --border-color: #e0e0e0;

  --error: #ec486d;
  --success: #5ebe20;

  --black: #1a1a1a;
  --white: #fff;
}
