:root {
  --primary-accent-color: #5643d0;
  --primary-accent-light-color: color-mix(in srgb, var(--primary-accent-color) 10%, white 100%);

  --text-primary-color: #18171c;
  --text-additional-color: color-mix(
    in srgb,
    var(--text-primary-color) 50%,
    white 100%
  );

  --red: #ec486d;
  --green: #5ebe20;

  --black: #1a1a1a;
  --white: #fff;
}
