@import url('./assets/fonts/fonts.scss');
@import url('./assets/colors-theme.scss');
@import url('./assets/colors.scss');

:root {
  font-family: SFProTextMedium, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: 16px;

  --transition-color: background-color 0.15s ease-in-out,
    color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    outline-color 0.15s ease-in-out;

  background-color: white;

  // color-scheme: light dark;
  color-scheme: light;
  color: var(--text-primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: var(--transition-color);
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: var(--text-additional-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-accent-color);
}

html,
body {
  width: 100dvw;
  overflow-x: hidden;
}

html:has(dialog[open]) {
  overflow: hidden;
}

a,
.link {
  cursor: pointer;
  display: block;
  color: var(--primary-accent-color);
  text-decoration: inherit;
}
a:not(.nav):hover,
.link:hover {
  color: var(--text-additional-color);
  text-decoration: underline;
}

li {
  list-style: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

hr {
  width: 100%;
  height: 0px;
  border: 1px solid #e6e6e6;
}

input:not([type='radio']),
textarea {
  width: 100%;
  outline: none;
  background-color: var(--white);
  color: var(--text-primary-color);
  font-size: 16px;
  font-family: SFProTextMedium;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 10px;

  transition:
    0.15s ease-in-out,
    var(--transition-color);
}

input:not([type='radio'])::placeholder,
textarea::placeholder {
  color: var(--text-additional-color);
}

input:not([type='radio']):focus,
input:not([type='radio']):focus-visible,
textarea:focus,
textarea:focus-visible {
  border: 1px solid var(--primary-accent-color);
  box-shadow: 0 0 0 1px var(--primary-accent-color);
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     color: #fff;
//     background-color: #213547;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }

@media (width <= 540px) {
  *::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
}
