@import url('./assets/fonts/fonts.scss');
@import url('./assets/colors.scss');

:root {
  font-family: SFProTextMedium, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: 16px;

  background-color: white;

  color-scheme: light dark;
  color: var(--text-primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: var(--text-additional-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-accent-color);
}

html,
body {
  width: 100dvw;
  overflow-x: hidden;
}

body.default-accent-color {
  --primary-accent-color: #5643D0;
  --primary-accent-light-color: color-mix(in srgb, var(--primary-accent-color) 10%, white 100%);
}

body.yellow-accent-color {
  --primary-accent-color: #CDD043;
  --primary-accent-light-color: color-mix(in srgb, var(--primary-accent-color) 10%, white 100%);
}

body.green-accent-color {
  --primary-accent-color: #43D051;
  --primary-accent-light-color: color-mix(in srgb, var(--primary-accent-color) 10%, white 100%);
}

body.blue-accent-color {
  --primary-accent-color: #438CD0;
  --primary-accent-light-color: color-mix(in srgb, var(--primary-accent-color) 10%, white 100%);
}

body.red-accent-color {
  --primary-accent-color: #D04343;
  --primary-accent-light-color: color-mix(in srgb, var(--primary-accent-color) 10%, white 100%);
}

body.pink-accent-color {
  --primary-accent-color: #C543D0;
  --primary-accent-light-color: color-mix(in srgb, var(--primary-accent-color) 10%, white 100%);
}

a, .link {
  cursor: pointer;
  display: block;
  color: var(--primary-accent-color);
  text-decoration: inherit;
}
a:not(.nav):hover, .link:hover {
  color: var(--text-additional-color);
  text-decoration: underline;
}

li {
  list-style: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color: #fff;
    background-color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@media (width <= 540px) {
  *::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
}
