@import url("./assets/fonts/fonts.css");
@import url("./assets/colors.css");

:root {
  font-family: SFProTextMedium, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;

  background-color: white;
  
  color-scheme: light dark;
  color: var(--text-primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: var(--text-additional-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
}

html, body {
  width: 100dvw;
  overflow-x: hidden;
}

a {
  display: block;
  color: var(--accent-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--text-additional-color);
}

li {
  list-style: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color: #fff;
    background-color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
